<html
  data-theme="black"
  lang="en"
  xml:lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.7/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="./scripts/particles.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ayonull</title>
  </head>
  <style>
    .typing::after {
      content: "|";
      animation: blink 1s infinite;
      margin-left: 3px;
      display: inline-block;
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  </style>
  <body>
    <div id="particles-js" class="background"></div>
    <div
      class="flex flex-wrap items-start mx-5 sm:mx-0 justify-center lg:h-screen md:h-screen content-center gap-5"
    >
      <div class="card w-10/12 h-5/6 bg-base-200 shadow-xl mt-5 sm:mt-0" id="homepage">
        <div class="card-body">
          <p class="leading-3">Hi! I am</p>
          <div class="flex">
            <h2 class="text-4xl leading-7">
              <span
                ><b><span id="usernames" class="typing"></span></b
              ></span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    // This code is sadly not mine. I have no idea where I got this from (I got this from another project of mine), but it's not mine. So... credit to whoever made this, thank u, love u <3!
    particlesJS.load("particles-js", "scripts/particles.json", function () {
      console.log("callback - particles.js config loaded");
    });
    const phrases = ["primitt", "ayonull"];
    let phraseIndex = 0;
    let charIndex = 0;
    const usernames = document.getElementById("usernames");

    function typePhrase() {
      if (charIndex < phrases[phraseIndex].length) {
        usernames.innerHTML += phrases[phraseIndex].charAt(charIndex);
        charIndex++;
        setTimeout(typePhrase, 100);
      } else {
        setTimeout(deletePhrase, 4000);
      }
    }

    function deletePhrase() {
      if (charIndex > 0) {
        usernames.innerHTML = usernames.innerHTML.slice(0, -1);
        charIndex--;
        setTimeout(deletePhrase, 100);
      } else {
        phraseIndex = (phraseIndex + 1) % phrases.length;
        setTimeout(typePhrase, 500);
      }
    }
    typePhrase();

    // this code is mine tho

    function changePage(page) {
      if (page == "home") {
        document.getElementById("home").classList.add("tab-active");
        document.getElementById("projects").classList.remove("tab-active");
        document.getElementById("languages").classList.remove("tab-active");
        document.getElementById("homepage").classList.remove("hidden");
        document.getElementById("projectspage").classList.add("hidden");
        // document.getElementById("languagespage").classList.add("hidden");
      } else if (page == "projects") {
        document.getElementById("home").classList.remove("tab-active");
        document.getElementById("projects").classList.add("tab-active");
        document.getElementById("languages").classList.remove("tab-active");
        document.getElementById("homepage").classList.add("hidden");
        document.getElementById("projectspage").classList.remove("hidden");
        // document.getElementById("languagespage").classList.add("hidden");
      } else if (page == "languages") {
        document.getElementById("home").classList.remove("tab-active");
        document.getElementById("projects").classList.remove("tab-active");
        document.getElementById("languages").classList.add("tab-active");
        document.getElementById("homepage").classList.add("hidden");
        document.getElementById("projectspage").classList.add("hidden");
        // document.getElementById("languagespage").classList.remove("hidden");
      }
    }
    $.getJSON("https://api.github.com/users/primitt", function (data) {
      $("[id='ayonullpfp-1']").attr("src", data.avatar_url);
    });
    $.getJSON("https://api.github.com/users/heckerwithahat", function (data) {
      $("[id='hwahpfp']").attr("src", data.avatar_url);
    });
    $.getJSON("https://api.github.com/users/fangoboyo", function (data) {
      $("[id='bongocatpfp']").attr("src", data.avatar_url);
    });
    $.getJSON("https://api.github.com/users/Sebastian-Alexis", function (data) {
      $("[id='sebbypfp']").attr("src", data.avatar_url);
    });
  </script>
</html>
